torch
sentence_transformers
transformers
langchain
langchain_community
langchainhub
langchain-huggingface
fastapi
uvicorn
pypdf
PyPDF2
jinja2
chroma
qdrant-client
ctransformers
python-multipart
aiofiles
faiss-cpu